.navbar_header {

    display: flex;
}

.navbar_header ul {
    border: 3px solid black;
}

.navbar li {
    display: inline-block;
    margin: 0 0 10px 0;
    font-size: x-large;
    padding: 15px;
    
}

.navbar li:hover {
    background: aqua;
    color: white;
}