* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.header_navbar {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    display: flex;
    
}

.header-flex-parent {
    background:cyan;
    margin-top: 0px;
    vertical-align: top;
    display: flex;
}

.slideshow_container {
    float: right;
    background-color: red;;
    width: 500px;
    height: 150px;
    flex: 1;
    overflow: hidden;
}
.slides {
   object-fit: cover;
   width: 900px;
   height: 150px;
}

.slideshow_container::after {
    width: 100%;
    content: ' ';
    display: block;
    position: absolute;
    background: linear-gradient(to left, rgba(247,247,49,1) 0%,rgba(255,255,255,0) 69%);
}

.header-name h1 {
    
    margin-left: 10px;
    font-size: x-large;
    padding: 25px;
    flex: 1;
}
.navbar li {
    display: inline-block;
    margin: 0 0 0 0;
    font-size: x-large;
    padding: 15px;
    transition: transform 500ms;
    transition: margin-right 250ms;
    color: white;
}

.header_navbar {
    background: #181A18;
    overflow: auto;
}

.header_navbar:hover {
    overflow: hidden;
}

.navbar li:hover {
    background: aqua;
    color: white;
    margin: 0 20px 0 20px;
    transform: scale(1.5);
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  

  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
