.navbar_header ul {
    border: 3px solid black;
    font-size: large;
    padding-left: 10px;
}

.navbar li {
    display: inline;
    border: 3px solid black;
    font-size: large;
    padding-left: 10px;
}